
<div class="content" role="main">
  Product List V4
  <product-list-v4 ></product-list-v4>
  <br><br><hr><br><br>

  
  
  Product V3
   <product-v3></product-v3> 

   <br><br><hr><br><br>
   
    User Info<br>
    <user></user>

    <br><br><hr><br><br>
    Products I saw in the Anazon.com
    <product-list></product-list>
    
    <br><br><hr><br><br>
    Latest Products I bought on the estore are<br>
    <product-v2 var1="Hey child, this is my message from you" (childEventWithSomeMessage)="p1($event)" ></product-v2>

    <br><br><hr><br><br>

    Old Products I bought on the estore are<br>
    <product></product>

  </div>